<h1>State : <%= @state %></h1><br>
<h1><%= @members.count %> Results</h1><br>
<% @members.each do |member| %>
  <ul class ="member">
    <li class ="name"><strong>Name: <%= member[:name] %></li>
    <li class ="role">Role: <%= member[:role] %></li>
    <li class ="party">Party: <%= member[:party] %></li>
    <li class ="district">District: <%= member[:district] %></li>
    <br>
  </ul>
<% end  %>
